*{
    padding:0px;
    margin: 0px;
}
body{
    background: rgb(2,0,36);
    background-repeat: no-repeat;
}

nav{
    text-align: center;
    padding:20px;
    background: rgb(2,0,36);
    background-repeat: no-repeat;
    background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(74,74,152,1) 47%, rgba(0,212,255,1) 100%);
    font-size: 40px;
}



section{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    color:rgb(196, 178, 145);
    font-size: 30px;
}